<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/84550071-7f60-4ff7-9fd0-4239ac7e6b83/resourcegroups/ventasoft_group-b8c0/providers/Microsoft.Web/sites/ventasoft</ResourceId>
    <ResourceGroup>ventasoft_group-b8c0</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ventasoft.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6526a1f9-85b0-416d-bc09-08ac1f8108a8</ProjectGuid>
    <PublishUrl>https://ventasoft.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ventasoft</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>