@model SistemaVenta.AplicacionWeb.Models.RepairViewModel

@{
    ViewData["Title"] = "NuevaVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
}

<div class="row  align-items-center justify-content-center">
    <div class="col-sm-8 mx-auto">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white">Reparación</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                        </div>
                        <form asp-controller="Venta" asp-action="AgregarReparacion" method="post">
                            <div class="form-group">
                                <label asp-for="Repair.Client">Cliente:</label>
                                <select asp-for="Repair.Client" class="form-control form-control-sm">
                                    <option value="">Selecciona un Cliente</option>
                                    @foreach (var cliente in Model.Clientes)
                                    {
                                        <option value="@cliente.IdUsuario">@cliente.Nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Repair.Ubication">Ubicación:</label>
                                <input asp-for="Repair.Ubication" class="form-control form-control-sm" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Repair.NumPhone">Número de Teléfono:</label>
                                <input asp-for="Repair.NumPhone" class="form-control form-control-sm" />
                            </div>

                          

                            <div class="form-group">
                                <label asp-for="Repair.IdBrand">Marca:</label>
                                <select asp-for="Repair.IdBrand" class="form-control form-control-sm" id="selectBrand">
                                    <option value="">Selecciona una Marca</option>
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <option value="@brand.IdBrand">@brand.BrandName</option>
                                    }
                                </select>
                            </div>

                                <div class="form-group">
                                    <label asp-for="Repair.IdModel">Modelo:</label>
                                    <select asp-for="Repair.IdModel" class="form-control form-control-sm" id="selectModel">
                                        <option value="">Selecciona un Modelo</option>
                                    </select>
                                </div>

                            <div class="form-group">
                                <label asp-for="Repair.Failure">Falla:</label>
                                <input asp-for="Repair.Failure" class="form-control form-control-sm" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Repair.Deposit">Depósito:</label>
                                <input asp-for="Repair.Deposit" class="form-control form-control-sm" />
                            </div>

                           
                            <button type="submit" class="btn btn-primary">Agregar Reparación</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/js/vistas/Nueva_Venta.js"></script>
    <script>
        $(document).ready(function () {
            $("#selectBrand").change(function () {
                var selected = $(this).val();
                if (selected) {
                    $.ajax({
                        url: "/Venta/SelectBrand",
                        type: "GET",
                        data: { id: selected },
                        success: function (data) {
                            $("#selectModel").empty();
                            $("#selectModel").append('<option value="">Selecciona un Modelo</option>');
                            $.each(data, function (key, value) {
                                $("#selectModel").append('<option value="' + value.id + '">' + value.nombre + '</option>');
                            });
                        },
                        error: function () {
                            console.error("Error al obtener las opciones del modelo.");
                        }
                    });
                }
            });
        });
    </script>

}
